$bg-primary: #292930;
$bg-accent: #202528;
$bg-accent-hover: #191D20;
$orange: #F28123;
$blue: #2892D7;
$green: #9BE564;
$orange-hover: #BF641A;
$blue-hover: #1F6EA3;
$green-hover: #79B24E;

$orange-gradient: linear-gradient(to right top, #f28123, #f59320, #f7a420, #f8b623, #f7c72b);
$dark-gradient: linear-gradient(to right top, #0e0e0f, #161618, #1c1c20, #222228, #292930);

$font-primary: #848484;
$borders-primary: #383838;
$borders-focus: #484848;

$error: #bb0000;
$warning: #ec942c;
$info: #40a6ce;
$success: #99CC33;

$tooltip: #151519;
